# Git (by default) does not allow empty directories
# Using this file, the directory is not empty
# Ignore all other files
*
# Add an exception for this file
!Metadata.tsv
!Metadata_Houser_et_al.tsv
!Metadata_Peyrusson_et_al.tsv
!Metadata_Rodman_et_al.tsv
!.gitignore